@import "config";

.section {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  & .section-name {
    margin: 0 .5rem 0 0;
    color: #000;
    font-size: @fontSizeBig;
    line-height: 17px;
    font-weight: 600;

    &.section-name--static {
      max-width: 80%;
      display: inline-block;
      overflow: hidden;
      text-overflow: clip;
    }
  }

  & .section-btn_toggle {
    padding: 0 !important;
  }

  & .section-icon {
    color: #ccc;
    transition: transform .1s ease-out,color .15s linear;

    &:hover,
    &:active,
    &:focus {
      color: #0066FF;
    }
  }

  & .section_controller {
    text-align: right;
  }
}