@import "config";
@yellow: #FFDB4D;

.task {
  position: relative;

  & .task-checkbox {
    position: absolute;
    top: 9px;
    left: 10px;
    margin: 0;
  }

  & .task-text {
    padding-top: 7px;
    padding-left: 33px;
    border: 1px solid transparent;
    font-size: @fontSizeSmall;

    &:disabled,
    &:active,
    &:hover,
    &:focus {
      border: 1px solid transparent !important;
      cursor: text;
    }

    &:disabled {
      background: none;
    }
  }

  & .task-controller {
    //opacity: 0;
    transition: opacity 150ms ease-out;
  }

  &:hover,
  &:active,
  &:focus {
    & .task-controller {
      opacity: 1;
    }
  }

  &.task--editing {
    & .task-text {
      border: 1px solid @yellow;

      &:hover,
      &:active,
      &:focus {
        border: 1px solid @yellow !important;
      }
    }

    & .task-controller {
      display: none;
    }
  }
}