@import "config";

.task {
  position: relative;

  & .task-checkbox {
    position: absolute;
    top: 9px;
    left: 10px;
    margin: 0;
  }

  & .task-text {
    padding-top: 7px;
    padding-left: 33px;
    font-size: @fontSizeSmall;
  }
}