// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import "config";
@import "buttons";

body {
  font-family: 'Noto Sans JP', sans-serif;
  background: #F6F6F6;
}

::selection {
  background: @colorMain;
}

::placeholder {
  color: #CCCCCC;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.flex_center_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  box-shadow: none !important;

  &:focus {
    border-color: @colorMain !important;
  }
}

form {
  text-align: left;
}

.modal {
  & .modal-dialog {
    &.modal-lg {
      max-width: 90%;
    }
  }

  & .modal-header {
    & button.close {
      border: none;
      color: #999;
      font-size: 30px;
      background: none;

      &:hover,
      &:active,
      &:focus {
        color: @colorMain;
      }
    }
  }
}

.react-datepicker-wrapper input {
  width: 100%;
  border: 1px solid #999 !important;
  padding: 6px 12px;

  &:hover,
  &:active,
  &:focus {
    border-color: @colorMain !important;
  }
}