@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import "buttons";

body {
  font-family: 'Noto Sans JP', sans-serif;
}

::selection {
  padding: .5rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.flex_center_center {
  display: flex;
  align-items: center;
  justify-content: center;
}