@import "config.less";

@default: {
  border: 1px solid @colorMain;
  color: #206AA1 !important;
  background: none;
}

@primary: {
  border: 1px solid @colorMain;
  color: #fff !important;
  background: @colorMain;
}

.btn,
.btn.btn-default {
  @default();

  &:hover,
  &:active,
  &:focus {
    @primary();
    box-shadow: none !important;
  }
}

.btn {
  &.btn-primary {
    @primary();

    &:hover,
    &:active,
    &:focus {
      @default();
    }
  }

  &.btn-secondary {
    @default();

    &:hover,
    &:active,
    &:focus {
      @primary();
    }
  }

  &.btn-icon {
    border: none;
    color: #666666 !important;
    background: none;

    &:hover,
    &:active,
    &:focus {
      border: none;
      color: #ccc !important;
      background: none;
    }
  }
}