@import "config";
@borderColor: rgba(204,204,204, .5);
@hourHeight: 55px;

.hour {
  height: @leftSideSize;
  border-bottom: 1px solid @borderColor;
  font-size: 11px;
  background: #fff;

  &:first-child {
    border-top: 1px solid @borderColor;

    & .hour-left_side .left_side-title {
      display: none;
    }
  }

  & .hour-left_side {
    position: relative;
    width: @leftSideSize;
    height: @leftSideSize;
    border-right: 1px solid @borderColor;

    & .left_side-title {
      position: absolute;
      top: -9px;
      right: 0;
      width: 100%;
      padding-right: 10px;
      text-align: right;
      color: #333;
      background: #fff;
    }
  }
}